.cat-404 {
   width: 40%;
   margin: 0 auto;
   display: block;
   transition: all 1s;
   filter: drop-shadow(2px 2px 15px var(--soft-glow));
}

.cat-404:hover, .cat-404:focus {
   filter: drop-shadow(2px 2px 40px var(--main-color));
   animation: pulsate 3s infinite;
}

@keyframes pulsate {
   0% {
      transform: scale(1);
   }
   50% {
      transform: scale(1.05);
   }
   100% {
      transform: scale(1);
   }
}