.cat-card {
   padding: 24px;
   margin-bottom: 24px;
   margin-right: 24px;
   border-radius: 12px;
   background-color: var(--background);
   box-shadow: 0 0 8px 0 var(--soft-glow);
   transition: background-color 1s, box-shadow 1s, opacity .5s;
   opacity: .75;
   cursor: pointer;
   display: flex;
}

.cat-img {
   border-radius: 12px;
}

.cat-card:hover, .cat-card:focus {
   box-shadow: 0 0 20px 0 var(--soft-glow);
   opacity: 1;
}

.cat-card img {
   height: 8.5em;
   width: 8.5em;
   object-fit: cover;
   margin-right: 20px;
   user-select: none;
   touch-action: none;
   display: inline-block;
   filter: drop-shadow(2px 2px 3px var(--soft-glow));
}

.cat-card-title {
   font-size: 1.2em;
   font-weight: bold;
   color: var(--text);
   transition: color 1s;
   padding-bottom: 6pt;
}


.cat-card-description {
   font-size: .8em;
   font-weight: normal;
   color: var(--soft-text);
   transition: color 1s;
}

.breadcrumb {
   background-color: var(--background-crumbs);
   padding: 2px 1vmin;
   border-radius: .85rem;
   color: var(--soft-text);
   fill-opacity: .2;
}

.breadcrumb-raw, .breadcrumb {
   display: inline-block;
   font-size: .5em;
   font-weight: normal;
   margin-right: 6px;
   margin-left: -2px;
   transition: color 1s;
   user-select: none;
   touch-action: none;
}

.cat-card-breadcrumbs {
   padding-top: 6pt;
}